.cabecalho {
    width: 100%;
    height: 100px;

    background-color: var(--cor-primaria);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    color: var(--branco-suave);
    margin-left: 5%;
}

.cabecalho a {
    color: var(--branco-suave);
    margin-right: 5%;

    font-size: 1.5rem;
    text-decoration: none;
}