.sec-form-aluno {
    margin: auto 0;
}

.sec-form-aluno h1 {
    text-align: center;
}

.form-aluno {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.form-aluno label {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
}

.form-aluno input {
    margin-top: 0.5%;
    height: 3vh;
}

.form-aluno input[type="submit"] {
    height: 5vh;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    border: none;
    font-size: 1.15rem;
}