.sec-form-usuario {
    margin: auto 0;
}

.sec-form-usuario h1 {
    text-align: center;
    margin-bottom: 2%;
}

.form-usuario {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.form-usuario label {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
}

.form-usuario input {
    margin-top: 0.5%;
    height: 3vh;
}

.form-usuario input[type="submit"] {
    height: 5vh;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    border: none;
    font-size: 1.15rem;
    margin-top: 2%;
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.input-group label {
    width: 48%;
}