@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CONFIGURAÇÕES DO TAILWINDCSS PARA OS COMPONENTES REACTPRIME */
/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-dark-blue/theme.css' layer(primereact);

@layer tailwind-base, primereact, tailwind-utilities;


@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
/* CONFIGURAÇÕES DO TAILWINDCSS PARA OS COMPONENTES REACTPRIME */


:root {
  --cor-primaria: #005F83;
  --input-bg: #D9D9D9;
  --branco-suave: #f4f4f4;
  --preto: #000;
  --cinza: #2f2f2f;
  --font-color: #A5A9AF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}